# Handle text files automatically and normalize them to LF in the repo
* text=auto

# Explicitly ensure certain source files use LF when checked out
*.js text eol=lf
*.py text eol=lf
*.sh text eol=lf

# Denote binary files so Git leaves them completely alone
*.png binary
*.jpg binary
